#### Gocery Store Data set cleaning

Dataset: 

- _retail_grocery_dataset.zip_
    - _products.csv_
    - _suppliers.csv_
    - _inventory.csv_
    - _transaction.csv_
    - _customers.csv_
    - _salesforce.csv_
 
Author: Luis Sergio Pastrana Lemus  
Date: 2025-07-06

# Data Cleaning â€“ Retail Grocery Dataset

## __1. Libraries__.

In [ ]:
from pathlib import Path
import sys

# Define project root dynamically, gets the current directory from which the notebook belongs and moves one level upper
project_root = Path.cwd().parent

# Add src to sys.path if it is not already
if str(project_root) not in sys.path:

    sys.path.append(str(project_root))

# Import function directly (more controlled than import *)
from src import *


from IPython.display import display, HTML
import os
import pandas as pd

## __2. Path to Data file__.

In [ ]:
# Build route to data file and upload
data_file_path = project_root / "data" / "raw" / "retail_grocery_dataset.zip"
df_products = load_dataset_from_zip(data_file_path, "products.csv", sep=';', header='infer', decimal=',', keep_default_na=False)
df_suppliers = load_dataset_from_zip(data_file_path, "suppliers.csv", sep='|', header='infer', decimal=',', keep_default_na=False)
df_inventory = load_dataset_from_zip(data_file_path, "inventory.csv", header='infer', keep_default_na=False)
df_transactions = load_dataset_from_zip(data_file_path, "transactions.csv", sep='\t', header='infer', decimal=',', keep_default_na=False)
df_customers = load_dataset_from_zip(data_file_path, "customers.csv", sep=';', header='infer', keep_default_na=False)
df_salesforce = load_dataset_from_zip(data_file_path, "salesforce.csv", sep='|', header='infer', keep_default_na=False)

##### `LSPL`

**Note:** `keep_default_na=False` is used to later convert missing values to `pd.NA`.  
This is beneficial because `pd.NA` provides:

- Consistency across data types  
- Type integrity preservation  
- Cleaner logical operations  
- Improved control over missing data

Since high performance or heavy computation is not required here, using `pd.NA` is appropriate.

In [ ]:
# Format notebook output
format_notebook()

## __3. Data set cleaning__.

In [ ]:
df_products.info()

In [ ]:
df_products

In [ ]:
df_suppliers.info()

In [ ]:
df_suppliers

In [ ]:
df_inventory.info()

In [ ]:
df_inventory

In [ ]:
df_transactions.info()

In [ ]:
df_transactions

In [ ]:
df_customers.info()

In [ ]:
df_customers

In [ ]:
df_salesforce.info()

In [ ]:
df_salesforce

### 3.1. Standardizing String values using "snake case".

#### 3.1.1 Standardizing Column Labels.

In [ ]:
# Standardize column labels with snake_case format
df_products = normalize_columns_headers_format(df_products)
df_products.columns

In [ ]:
df_suppliers = normalize_columns_headers_format(df_suppliers)
df_suppliers.columns

In [ ]:
df_inventory = normalize_columns_headers_format(df_inventory)
df_inventory.columns

In [ ]:
df_transactions = normalize_columns_headers_format(df_transactions)
df_transactions.columns

In [ ]:
df_customers = normalize_columns_headers_format(df_customers)
df_customers.columns

In [ ]:
df_salesforce = normalize_columns_headers_format(df_salesforce)
df_salesforce.columns

#### 3.1.2 Standardizing Dataframe String values.

In [ ]:
# Standardize data frame string values with snake_case format
df_products = normalize_string_format(df_products, include=['product_name', 'category', 'status', 'brand'])
df_products.sample(5, random_state=333)

In [ ]:
df_suppliers = normalize_string_format(df_suppliers, include=['supplier_name'])
df_suppliers.sample(5, random_state=333)

In [ ]:
df_inventory.sample(5, random_state=333)

In [ ]:
df_transactions.sample(5, random_state=333)

In [ ]:
df_customers = normalize_string_format(df_customers, include=['customer_name', 'segment'])
df_customers.sample(5, random_state=333)

In [ ]:
df_salesforce = normalize_string_format(df_salesforce, include=['employee_name'])
df_salesforce.sample(5, random_state=333)

##### `LSPL`

**Note:** 

The column names and string values did not follow a consistent format; they contained spaces and capital letters, making them difficult to manipulate.

__Solution__: Column names and string values were standardized using lowercase letters, removing spaces, and applying the snake_case format.   
__Impact__: This facilitated data access and manipulation, improving readability and reducing errors in analysis.

### 3.2 Explicit duplicates.

In [ ]:
# Show explicit duplicates amount for "df_products"
display(HTML(f"> Explicit duplicates amount for Dataframe <i>'df_products'</i>: <b>{df_products.duplicated().sum()}</b>"))
display(HTML(f"> Dataframe <i>'df_products'</i> size (rows, columns): <b>{df_products.shape}</b>"))

In [ ]:
df_products = df_products.drop_duplicates()
display(HTML(f"> Dataframe <i>'df_products'</i> size (rows, columns): <b>{df_products.shape}</b>"))

In [ ]:
# Show explicit duplicates amount for "df_suppliers"
display(HTML(f"> Explicit duplicates amount for Dataframe <i>'df_suppliers'</i>: <b>{df_suppliers.duplicated().sum()}</b>"))
display(HTML(f"> Dataframe <i>'df_suppliers'</i> size (rows, columns): <b>{df_suppliers.shape}</b>"))

In [ ]:
df_suppliers = df_suppliers.drop_duplicates()
display(HTML(f"> Dataframe <i>'df_suppliers'</i> size (rows, columns): <b>{df_suppliers.shape}</b>"))

In [ ]:
# Show explicit duplicates amount for "df_inventory"
display(HTML(f"> Explicit duplicates amount for Dataframe <i>'df_inventory'</i>: <b>{df_inventory.duplicated().sum()}</b>"))
display(HTML(f"> Dataframe <i>'df_inventory'</i> size (rows, columns): <b>{df_inventory.shape}</b>"))

In [ ]:
df_inventory = df_inventory.drop_duplicates()
display(HTML(f"> Dataframe <i>'df_inventory'</i> size (rows, columns): <b>{df_inventory.shape}</b>"))

In [ ]:
# Show explicit duplicates amount for "df_transactions"
display(HTML(f"> Explicit duplicates amount for Dataframe <i>'df_transactions'</i>: <b>{df_transactions.duplicated().sum()}</b>"))
display(HTML(f"> Dataframe <i>'df_transactions'</i> size (rows, columns): <b>{df_transactions.shape}</b>"))

In [ ]:
df_transactions = df_transactions.drop_duplicates()
display(HTML(f"> Dataframe <i>'df_transactions'</i> size (rows, columns): <b>{df_transactions.shape}</b>"))

In [ ]:
# Show explicit duplicates amount for "df_customers"
display(HTML(f"> Explicit duplicates amount for Dataframe <i>'df_customers'</i>: <b>{df_customers.duplicated().sum()}</b>"))
display(HTML(f"> Dataframe <i>'df_customers'</i> size (rows, columns): <b>{df_customers.shape}</b>"))

In [ ]:
df_customers = df_customers.drop_duplicates()
display(HTML(f"> Dataframe <i>'df_customers'</i> size (rows, columns): <b>{df_customers.shape}</b>"))

In [ ]:
# Show explicit duplicates amount for "df_sales_force"
display(HTML(f"> Explicit duplicates amount for Dataframe <i>'df_salesforce'</i>: <b>{df_salesforce.duplicated().sum()}</b>"))
display(HTML(f"> Dataframe <i>'df_salesforce'</i> size (rows, columns): <b>{df_salesforce.shape}</b>"))

In [ ]:
df_salesforce = df_salesforce.drop_duplicates()
display(HTML(f"> Dataframe <i>'df_salesforce'</i> size (rows, columns): <b>{df_salesforce.shape}</b>"))

##### `LSPL`

**Note:** 

- Explicit duplicates for dataframe 'df_products': 1556, were removed from dataset.   
- Explicit duplicates for dataframe 'df_suppliers': 334, were removed from dataset.   
- Explicit duplicates for dataframe 'df_inventory': 2610, were removed from dataset.   
- Explicit duplicates for dataframe 'df_transactions': 1634, were removed from dataset.   
- Explicit duplicates for dataframe 'df_customers': 433, were removed from dataset.   
- Explicit duplicates for dataframe 'df_salesforce': 209, were removed from dataset.

### 3.3 Missing values.

#### 3.3.1 Missing values check.

In [ ]:
# Show missing values
check_existing_missing_values(df_products)

In [ ]:
check_existing_missing_values(df_suppliers)

In [ ]:
check_existing_missing_values(df_inventory)

In [ ]:
check_existing_missing_values(df_transactions)

In [ ]:
check_existing_missing_values(df_customers)

In [ ]:
check_existing_missing_values(df_salesforce)

##### `LSPL`

**Note:** 

- Missing values for dataframe 'df_products':  
    - 'unit_cost': 500 [''] were detected.   
    - 'brand': 500 [''] were detected.

- Missing values for dataframe 'df_inventory':
    - 'warehouse_location': 400 [''] were detected.

- Missing values for dataframe 'df_customers':
    - 'total_spent': 150 [''] were detected.
    - 'segment': 150 were detected.

#### 3.3.2 Replacing missing values (pd.NA).

In [ ]:
# Replace missing values with pd.NA
df_products = replace_missing_values(df_products, include=['unit_cost', 'brand'])
df_products

In [ ]:
df_inventory = replace_missing_values(df_inventory, include=['warehouse_location'])
df_inventory

In [ ]:
df_customers = replace_missing_values(df_customers, include=['total_spent', 'segment'])
df_customers

#### 3.3.3 Preview missing values.

In [ ]:
# Show missing values heatmap
missing_values_heatmap(df_products)

In [ ]:
# Show pd.NA missing values for 'unit_cost', 'brand' columns
df_products.loc[(df_products['unit_cost'].isna()) | (df_products['brand'].isna()), :]

In [ ]:
# Show percentage of missing values within the dataset
missing_values_rate(df_products, include=['unit_cost', 'brand'])

In [ ]:
missing_values_heatmap(df_inventory)

In [ ]:
# Show pd.NA missing values for 'warehouse_location' column
df_inventory.loc[(df_inventory['warehouse_location'].isna()), :]

In [ ]:
# Show percentage of missing values within the dataset
missing_values_rate(df_inventory, include=['warehouse_location'])

In [ ]:
missing_values_heatmap(df_customers)

In [ ]:
# Show pd.NA missing values for 'total_spent', 'segment' columns
df_customers.loc[(df_customers['total_spent'].isna()) | (df_customers['segment'].isna()), :]

In [ ]:
# Show percentage of missing values within the dataset
missing_values_rate(df_customers, include=['total_spent', 'segment'])

### 3.4 Casting data types.

#### 3.4.1 Casting to string data type.

In [ ]:
# df_products 'product_name', 'brand', to string
df_products = cast_datatypes(df_products, 'string', c_include=['product_name', 'brand'])

print(df_products['product_name'].dtypes)
print(df_products['brand'].dtypes)

In [ ]:
# df_suppliers 'supplier_name', 'contact_info', to string
df_suppliers = cast_datatypes(df_suppliers, 'string', c_include=['supplier_name', 'contact_info'])

print(df_suppliers['supplier_name'].dtypes)
print(df_suppliers['contact_info'].dtypes)

In [ ]:
# df_customers 'customer_name', to string
df_customers = cast_datatypes(df_customers, 'string', c_include=['customer_name'])

print(df_customers['customer_name'].dtypes)

In [ ]:
# df_salesforce 'employee_name', to string
df_salesforce = cast_datatypes(df_salesforce, 'string', c_include=['employee_name'])

print(df_salesforce['employee_name'].dtypes)

#### 3.4.2 Casting to numeric data type.

In [ ]:
# df_products 'unit_cost', to Float64
df_products = cast_datatypes(df_products, 'numeric', numeric_type='Float64', c_include=['unit_cost'])

print(df_products['unit_cost'].dtypes)

In [ ]:
# df_customers 'total_spent', to Float64
df_customers = cast_datatypes(df_customers, 'numeric', numeric_type="Float64", c_include=['total_spent'])

print(df_customers['total_spent'].dtypes)

#### 3.4.3 Casting to category data type.

In [ ]:
# df_products 'category', 'status',  to category
df_products = cast_datatypes(df_products, 'category', c_include=['category', 'status'])

print(df_products['category'].dtypes)
print(df_products['status'].dtypes)

In [ ]:
# df_inventory 'warehouse_location',  to category
df_inventory = cast_datatypes(df_inventory, 'category', c_include=['warehouse_location'])

print(df_inventory['warehouse_location'].dtypes)

In [ ]:
# df_customers 'segment',  to category
df_customers = cast_datatypes(df_customers, 'category', c_include=['segment'])

print(df_customers['segment'].dtypes)

In [ ]:
# df_salesforce 'region',  to category
df_salesforce = cast_datatypes(df_salesforce, 'category', c_include=['region'])

print(df_salesforce['region'].dtypes)

#### 3.4.4 Casting to boolean data type.

In [ ]:
# NA

#### 3.4.5 Casting to datetime data type.

In [ ]:
# df_inventory 'date' to datetime
cast_datatypes(df_inventory, 'datetime', date_format='%Y-%m-%d', c_time_zone='US/Pacific', c_include=['date'])

print(df_inventory['date'].dtypes)

In [ ]:
# df_customers 'join_date' to datetime
cast_datatypes(df_customers, 'datetime', date_format='%Y-%m-%d', c_time_zone='US/Pacific', c_include=['join_date'])

print(df_customers['join_date'].dtypes)

### 3.5  Missing values data imputation.

#### 3.5.1 Missing values data imputation for df_products column 'unit_cost'.

In [ ]:
# Handle df_products pd.NA missing values within 'unit_cost' column
# To estimate missing values in the 'unit_cost' column, we leverage the relationship between 'list_price' and 'unit_cost'.
# We first calculate the average markup ratio (list_price / unit_cost) using existing data,
# stratified by key product characteristics: 'product_name' and 'category', 'category' and 'brand'.
# This grouped average represents the typical revenue percentage applied to the unit cost for similar products.
# Missing 'unit_cost' values are then imputed by reversing the markup formula:
#     unit_cost = list_price / average_markup
# This approach ensures more accurate imputation by reflecting pricing patterns specific to each product segment.

In [ ]:
df_uc_imp = df_products.dropna(subset=['unit_cost', 'list_price']).copy()
df_uc_imp['markup_ratio'] = df_uc_imp['list_price'] / df_uc_imp['unit_cost']
df_uc_imp

In [ ]:
# Stratification by key product characteristics: 'product_name' and 'category'.
df_markup_by_group = (df_uc_imp.groupby(['product_name', 'category'], observed=True)['markup_ratio'].mean()
                      .reset_index(name='avg_markup_ratio'))
df_markup_by_group

In [ ]:
df_products = df_products.merge(df_markup_by_group, how='left', on=['product_name', 'category'])
df_products

In [ ]:
df_products['unit_cost'] = df_products.apply(lambda row: row['list_price'] / row['avg_markup_ratio'] if pd.isna(row['unit_cost']) and 
                                             pd.notna(row['list_price']) and pd.notna(row['avg_markup_ratio']) else row['unit_cost'],
                                             axis=1)
df_products = df_products.drop(columns='avg_markup_ratio')
df_products

In [ ]:
# Stratification by key product characteristics: 'category' and 'brand'.
df_markup_by_group = (df_uc_imp.groupby(['category', 'brand'], observed=True)['markup_ratio'].mean()
                      .reset_index(name='avg_markup_ratio'))
df_markup_by_group

In [ ]:
df_products = df_products.merge(df_markup_by_group, how='left', on=['category', 'brand'])
df_products

In [ ]:
df_products['unit_cost'] = df_products.apply(lambda row: row['list_price'] / row['avg_markup_ratio'] if pd.isna(row['unit_cost']) and 
                                             pd.notna(row['list_price']) and pd.notna(row['avg_markup_ratio']) else row['unit_cost'],
                                             axis=1)
df_products = df_products.drop(columns='avg_markup_ratio')
df_products

In [ ]:
# Stratification by key product characteristics: 'category'.
df_products = cast_datatypes(df_products, 'numeric', numeric_type="Float64", c_include=['unit_cost'])
df_products

In [ ]:
df_products['unit_cost'].describe()

In [ ]:
evaluate_central_trend(df_products, 'unit_cost')

In [ ]:
df_category_median_cost = (df_products.groupby('category', observed=True)['unit_cost'].median().reset_index(name='median_unit_cost'))
df_category_median_cost

In [ ]:
df_products = df_products.merge(df_category_median_cost, how='left', on='category')
df_products

In [ ]:
df_products['unit_cost'] = df_products.apply(lambda row: row['median_unit_cost'] if pd.isna(row['unit_cost']) else row['unit_cost'],
                                             axis=1)
df_products

In [ ]:
df_product = df_products.drop(columns='median_unit_cost')
df_products

##### `LSPL`

**Note:**

- Missing values in __df_products__, _'unit_cost'_ column

Missing values in the `unit_cost` column were initially present in approximately **5%** of the products. These gaps can significantly affect financial indicators such as gross margin, inventory valuation, and pricing analysis.

__Solution__: All missing values in `unit_cost` were imputed using a **three-level stratified markup ratio strategy**. First, we calculated average markup ratios based on `'product_name'` and `'category'`. Second, the rest of the missing values that couldn't be matched, , it was used a broader grouping based on `'category'` and `'brand'`. Third, any other remaining missing values (~3%) were imputed using the **median unit cost by `category`**, ensuring robust and context-aware estimates.

__Impact__: This approach helped ensure **100% completeness** of the `unit_cost` column. It supports accurate profitability analysis, cost modeling, and business decision-making. Using stratified and statistically robust imputation helps preserve business logic and prevents misleading insights due to arbitrary or uniform imputation (e.g., using 0s).

#### 3.5.2 Missing values data imputation for df_products column 'brand'.

In [ ]:
# Missing values imputation for 'brand' column with 'unknown' 
df_products['brand'] = df_products['brand'].fillna("unknown")
df_products

##### `LSPL`

**Note:**  

1. Missing values in __df_products__, _'brand'_ column

Missing values in the `brand` column occur in approximately **5%** of the dataset (500 out of 10,000 rows). Since `brand` is a high-cardinality categorical feature closely tied to `product_name`, and given that `product_name` is not unique across rows (only 8,241 unique values out of 10,000), there's no reliable reference to safely impute this field without risking data distortion.

__Solution__: All missing values in `brand` will be imputed as, `"unknown"` for visualization purposes but not for modeling or relational joins.

__Impact__: Preserving the missing values adn identified as `"unknown"` ensures that no incorrect brand associations are introduced. This approach protects the quality of product-vendor analyses, brand-level performance metrics, and any downstream processes that rely on accurate brand identification.

#### 3.5.3 Missing values data imputation for df_inventory column 'warehouse_location'.

In [ ]:
# Check relations between df_transactions['product_id', 'units_sold', 'employee_id'], df_salesforce['employee_id', 'region'], 
# df_inventory['product_id', 'warehouse_location']

df_salesforce_empid_reg = df_salesforce.loc[:, ['employee_id', 'region']].drop_duplicates()
df_salesforce_empid_reg

In [ ]:
df_transactions_prodid_sld_empid = df_transactions.loc[~(df_transactions['units_sold'].isna()) & (df_transactions['units_sold'] > 0), ['product_id', 'employee_id']]
df_transactions_prodid_sld_empid

In [ ]:
df_trans_sales = df_transactions_prodid_sld_empid.merge(df_salesforce_empid_reg, on='employee_id', how='left')
df_trans_sales

In [ ]:
df_inventory_prodid_whloc = df_inventory.loc[(df_inventory['warehouse_location'].isna()), ['product_id', 'warehouse_location']]
df_inventory_prodid_whloc

In [ ]:
df_inventory_prodid_whloc = df_inventory_prodid_whloc.merge(df_trans_sales, on='product_id', how='left')
df_inventory_prodid_whloc

In [ ]:
region_counts = (df_inventory_prodid_whloc.groupby('product_id')['region'].nunique().reset_index(name='unique_region_count'))
region_counts

In [ ]:
region_counts = region_counts.loc[region_counts['unique_region_count'] == 1, 'product_id']
region_counts

In [ ]:
region_counts

In [ ]:
df_inventory_prodid_whloc = df_inventory_prodid_whloc[df_inventory_prodid_whloc['product_id'].isin(region_counts)]
df_inventory_prodid_whloc

In [ ]:
df_inventory_prodid_whloc = df_inventory_prodid_whloc[~df_inventory_prodid_whloc.duplicated(subset=['product_id'], keep=False)]
df_inventory_prodid_whloc = df_inventory_prodid_whloc.drop(columns=['warehouse_location', 'employee_id'])
df_inventory_prodid_whloc

In [ ]:
df_inventory = df_inventory.merge(df_inventory_prodid_whloc, on='prod_id')

##### `LSPL`

**Note:** 

1. Missing values in __df_xxx__, _'column_name'_ column

Missing values in the `column_name` column occur ...

__Solution__: All missing values in `columns_name` will be ....

__Impact__: Identifying users with pd.NA, will help ...

### 3.6 Implicit duplicates.

#### 3.6.1 Implicit duplicates check.

In [ ]:
# Show implicit duplicates df_aisles
detect_implicit_duplicates_fuzzy(df_xxx, 'column_name')

#### 3.6.2 Implicit duplicates data imputation.

In [ ]:
# Imputation

## __4. Final cleaning dataframe review__.

In [ ]:
df_xxx.info()

## __5. Generate a new clean Data set .csv file__.

In [ ]:
project_root = Path.cwd().parent
processed_path = project_root / "data" / "processed" / "clean" / "_clean.csv"
df_xxx.to_csv(processed_path, index=False)